<connectionStrings>
  <!--<add name="ConnectionString" connectionString="Server=DESKTOP-868UP8J\SQLEXPRESS;Database=NHDai19DemoEF; Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="ConnectionString" connectionString="Data Source=NHDAI\SQLEXPRESS;Initial Catalog=NHDai19DemoEF;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
</connectionStrings>
