<connectionStrings>
  <add name="ConnectionString" connectionString="Server=DESKTOP-9CNEVT7\MSSQLSERVER1;Database=NHDai19DemoEF; Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--<add name="ConnectionString" connectionString="Data Source=Phuscer19;Initial Catalog=NHDai19DemoEF;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->
</connectionStrings>
