@using NHDai19DemoEF.Model
@model IEnumerable<NHDai19DemoEF.Model.Author>
@{
    ViewBag.Title = "Author";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .tableHead {
        background-color: #221D1C;
        color: aliceblue;

    }
</style>
<section class="content-header">
    <h1>
        List Author
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Author</li>
    </ol>
</section>
<section class="content">
    <div class="table-responsive table-bordered">
        <!--Table-->
        <table class="table table-striped">

            <!--Table head-->
            <thead class="tableHead">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>History</th>
                    <th style="width: 13%"></th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
                @foreach (Author item in Model)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@item.AuthorName</td>
                        <td>@item.History</td>
                        <th>
                            <a class="btn btn-tumblr btn-sm" href="/Admin/Author/Edit/@item.AuthorId"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-adn btn-sm" href="/Admin/Author/Delete/@item.AuthorId"><i class="fa fa-pencil"></i> Delete</a>
                        </th>
                    </tr>
                }

            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
</section>
